    body {
        background-image: linear-gradient(rgba(25, 22, 22, 0.8), rgba(75, 73, 73, 0.8)), url('img/bg1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        background-attachment: fixed;
        margin: 0 !important;
    }
    
    img {
        opacity: 0.9;
    }
    
    img:hover {
        opacity: 1.0;
    }
    
    .overline {
        font-size: 55px;
        color: white;
        padding: 35px;
    }
    
    .containerContent {}
    
    .listPokemonImage {
        height: 150px;
        width: 150px;
    }
    
    #listPokemonCards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .pokemonCards {
        background-color: #dbdbdb;
        border-radius: 30px;
        border: 1px solid black;
        margin: 10px;
        height: 280px !important;
        width: 280px !important;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    #listPokemonName {
        margin-bottom: 20px;
    }
    
    .grass {
        background-color: greenyellow;
        padding: 10px;
        border-radius: 30px;
    }
    
    .fire {
        background-color: rgb(191, 0, 0);
        padding: 10px;
        border-radius: 30px;
        color: white;
    }
    
    .bug {
        background-color: rgb(249, 219, 50);
        padding: 10px;
        border-radius: 30px;
    }
    
    .water {
        background-color: rgb(56, 72, 251);
        padding: 10px;
        border-radius: 30px;
        color: white;
    }
    
    .normal {
        background-color: rgb(151, 151, 151);
        padding: 10px;
        border-radius: 30px;
    }