    body {
        background-image: linear-gradient(rgba(25, 22, 22, 0.9), rgba(75, 73, 73, 0.9)), url('img/bg1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        background-attachment: fixed;
        margin: 0 !important;
    }
    
    .containerContent {
        margin-bottom: 30px;
    }
    
    .logo {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        margin: 50px;
    }
    
    .logo img {
        height: 200px;
        width: 400px;
        border-radius: 30px;
        object-fit: contain;
        background-color: white;
    }
    
    input {
        height: 60px;
        width: 250px;
        border-radius: 30px;
        text-align: center;
    }
    
    img {
        opacity: 0.9;
    }
    
    img:hover {
        opacity: 1.0;
    }
    
    .listPokemonImage {
        height: 140px;
        width: 140px;
    }
    
    #listPokemonCards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .pokemonCards {
        background-color: #dbdbdb;
        border-radius: 30px;
        border: 1px solid black;
        margin: 25px;
        height: 330px !important;
        width: 320px !important;
        align-items: center;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    
    #listPokemonName {
        margin-bottom: 20px;
    }
    
    .idNumberPokemon {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        opacity: 0.8;
    }
    /*Pokemon Color-Typs*/
    
    .grass {
        background-color: #147a3c;
        padding: 10px;
        border-radius: 30px;
        display: block;
        text-align: center;
        width: 80px;
        flex-direction: row;
        color: white;
    }
    
    .fire {
        background-color: #aa1e22;
        padding: 10px;
        border-radius: 30px;
        color: white;
        display: block;
        text-align: center;
        width: 80px;
    }
    
    .bug {
        background-color: #1a4b26;
        padding: 10px;
        border-radius: 30px;
        display: block;
        text-align: center;
        width: 80px;
        color: white;
    }
    
    .water {
        background-color: #1551e2;
        padding: 10px;
        border-radius: 30px;
        color: white;
        display: block;
        text-align: center;
        width: 80px;
    }
    
    .normal {
        background-color: #75505c;
        padding: 10px;
        border-radius: 30px;
        display: block;
        text-align: center;
        width: 80px;
        color: white;
    }
    
    .poison {
        background-color: #b347b3;
        padding: 10px;
        border-radius: 30px;
        display: block;
        text-align: center;
        width: 80px;
        color: white;
    }
    
    .electric {
        background-color: #f8d02f;
        padding: 10px;
        border-radius: 30px;
        display: block;
        text-align: center;
        width: 80px;
    }
    
    .ground {
        background-color: #e0bf68;
        padding: 10px;
        border-radius: 30px;
        display: block;
        text-align: center;
        width: 80px;
        color: white;
    }
    
    .flying {
        background-color: #49667e;
        padding: 10px;
        border-radius: 30px;
        display: block;
        text-align: center;
        width: 80px;
        color: white;
    }
    
    .dark {
        background-color: #020506;
        padding: 10px;
        color: white;
        border-radius: 30px;
        display: block;
        text-align: center;
        width: 80px;
    }
    
    .dragon {
        background-color: #438a97;
        padding: 10px;
        border-radius: 30px;
        display: block;
        text-align: center;
        width: 80px;
        color: white;
    }
    
    .fairy {
        background-color: #961842;
        padding: 10px;
        border-radius: 30px;
        display: block;
        text-align: center;
        width: 80px;
        color: white;
    }
    
    .fighting {
        background-color: #993f25;
        padding: 10px;
        border-radius: 30px;
        display: block;
        text-align: center;
        width: 80px;
        color: white;
    }
    
    .ghost {
        background-color: #32336b;
        padding: 10px;
        border-radius: 30px;
        display: block;
        text-align: center;
        width: 80px;
        color: white;
    }
    
    .ground {
        background-color: #a96f2b;
        padding: 10px;
        border-radius: 30px;
        display: block;
        text-align: center;
        width: 80px;
        color: white;
    }
    
    .ice {
        background-color: #85d1f5;
        padding: 10px;
        border-radius: 30px;
        display: block;
        text-align: center;
        width: 80px;
    }
    
    .psychic {
        background-color: #a62a6a;
        padding: 10px;
        border-radius: 30px;
        display: block;
        text-align: center;
        width: 80px;
        color: white;
    }
    
    .rock {
        background-color: #46180b;
        padding: 10px;
        color: white;
        border-radius: 30px;
        display: block;
        text-align: center;
        width: 80px;
    }
    
    .steel {
        background-color: #5e746c;
        padding: 10px;
        border-radius: 30px;
        display: block;
        text-align: center;
        width: 80px;
        color: white;
    }
    /*Detail-View*/
    
    .detailView {
        z-index: 60;
        background: rgba(41, 41, 41, 0.7);
        height: auto;
        color: black;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .containerContentDetailView {
        height: 650px;
        width: 560px;
        border-radius: 30px;
    }
    
    .detailButtonAndIdNumber {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .detailName {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    .detailImg img {
        height: 250px;
        width: 250px;
        padding: 30px;
    }
    
    .detailImg {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    .containerAttribute {
        background-color: rgb(236, 236, 236);
        color: #020506;
        border-radius: 30px;
        margin-left: 16px;
        margin-right: 16px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    .attribute {
        padding-top: 10px;
        font-size: 20px;
    }
    /*Footer*/
    
    .footer {
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 80px;
        height: 150px;
        background-color: #dbdbdb;
    }
    
    .paddingLeftRight {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    a {
        text-decoration: none !important;
        color: black !important;
    }
    
    a:hover {
        text-decoration: underline !important;
    }
    /*Responsive*/
    
    @media (max-width: 850px) {
        .footer {
            justify-content: space-evenly;
            flex-direction: column;
            height: 200px;
            word-wrap: break-word;
        }
        .law {
            margin-top: 16px;
            word-wrap: break-word;
        }
        .socialMedia {
            margin-bottom: 16px;
            margin-top: 16px;
        }
        .logo {
            flex-direction: column;
        }
        .logo img {
            margin-bottom: 25px;
        }
    }
    
    @media (max-width: 650px) {
        .containerContentDetailView {
            height: 475px;
            width: 300px;
        }
        .detailImg img {
            height: 110px;
            width: 110px;
            padding: 10px;
        }
        .containerAttribute {
            max-width: 250px;
            max-height: 200px;
            font-size: 10px;
            margin-left: 16px;
            margin-right: 16px;
        }
        .attribute {
            padding-top: 10px;
            font-size: 20px;
        }
    }
    
    @media (max-width: 450px) {
        .logo img {
            height: 100px;
            width: 250px;
        }
    }